import init.universal3475.usb.rc
import init.baseband.rc
import init.wifi.rc
import init.samsung.rc
import init.rilchip.rc

on early-init
    mkdir /efs 0771 radio system
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    
on init
    start watchdogd

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /sdcard

    #export SECONDARY_STORAGE /storage/extSdCard

    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /data/app /factory

    #Reactivation Lock
    symlink /dev/block/platform/13540000.dwmmc0/by-name/STEADY /dev/block/steady

    #Google FRP solution
    symlink /dev/block/platform/13540000.dwmmc0/by-name/PERSISTENT /dev/block/persistent

on post-fs-data
# Log data folder
#   mkdir /data/log 0771 radio system

    setprop vold.post_fs_data_done 1

# Permission for flashlight control for HAL3.3
    chmod 0660 /sys/class/camera/flash/rear_torch_flash
    chown media cameraserver /sys/class/camera/flash/rear_torch_flash

# Permissions Camera
    chown system radio /sys/class/camera/rear/rear_camfw
    chown system radio /sys/class/camera/rear/rear_camfw_full
    chown system radio /sys/class/camera/rear/rear_checkfw_user
    chown system radio /sys/class/camera/rear/rear_checkfw_factory
    chown system radio /sys/class/camera/rear/rear_sensor_standby
    chown system radio /sys/class/camera/rear/rear_camtype
    chown system radio /sys/class/camera/rear/rear_calcheck
    chown system radio /sys/class/camera/rear/rear_vendorid
    chown system radio /sys/class/camera/flash/rear_flash
    chown system radio /sys/class/camera/front/front_camfw
    chown system radio /sys/class/camera/front/front_camtype

on boot
    # override init.rc to keep plenty of large order chunks around
    # to improve allocation times
    # write /proc/sys/vm/min_free_kbytes 32768
    # write /proc/sys/vm/min_free_order_shift 1

    # Allow to access debugfs
    chmod 755 /sys/kernel/debug
    
# SSWAP
    write /proc/sys/vm/swappiness 130

#SystemFramework
    chown system system /data/cache/backup
    chmod 0711 /data/cache/backup
    chown system system /data/cache/backup_stage
    chmod 0711 /data/cache/backup_stage


    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

    # C-STATE
    chown system system /sys/module/cpuidle/parameters/off
    chmod 0660 /sys/module/cpuidle/parameters/off

    # Change permission for interactive governor
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/io_is_busy

    chown radio system /sys/devices/system/sec_os_ctrl/migrate_os
    chmod 664 /sys/devices/system/sec_os_ctrl/migrate_os
    
    chown system system /sys/power/enable_dm_hotplug
    chmod 0660 /sys/power/enable_dm_hotplug

    chown system log /proc/sec_log

# permissions for bluetooth.
    chown bluetooth net_bt_stack /dev/ttySAC1
    chmod 0660 /dev/ttySAC1
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown radio net_bt_stack /efs/bluetooth/bt_addr
    chmod 0640 /efs/bluetooth/bt_addr
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

# Permission for USB SELECT
    chown system system /sys/class/android_usb/android0/enable
    chmod 0660 /sys/class/android_usb/android0/enable
    chown system system /sys/class/android_usb/android0/idVendor
    chmod 0660 /sys/class/android_usb/android0/idVendor
    chown system system /sys/class/android_usb/android0/idProduct
    chmod 0660 /sys/class/android_usb/android0/idProduct
    chown system system /sys/class/android_usb/android0/f_diag/clients
    chmod 0660 /sys/class/android_usb/android0/f_diag/clients
    chown system system /sys/class/android_usb/android0/functions
    chmod 0660 /sys/class/android_usb/android0/functions
    chown system system /sys/class/android_usb/android0/bDeviceClass
    chmod 0660 /sys/class/android_usb/android0/bDeviceClass

# GPS
    chown root system /dev/ttySAC0
    chmod 0660 /dev/ttySAC0
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value
    mkdir /data/system 0771 system system
    chown system system /data/system
    mkdir /data/system/gps 0771 system system
    chown system system /data/system/gps
    rm /data/system/gps/gps_started
    rm /data/system/gps/glonass_started
    rm /data/system/gps/smd_started
    rm /data/system/gps/sv_cno.info

# SENSORS
# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/selftest
    chown system radio /sys/class/sensors/accelerometer_sensor/lowpassfilter
# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/prox_offset_pass
    chown system radio /sys/class/sensors/proximity_sensor/prox_trim

# Support DM logging
    chmod 0770 /system/bin/dmd

#for datarouter
    chown system system /dev/dun
    chown system system /dev/ttyGS0
    chown system system /dev/ttyGS1
    chown system system /dev/ttyGS2
    chown system system /dev/ttyGS3

# MTP permission
    chmod 0660 /dev/usb_mtp_gadget
    chown system mtp /dev/usb_mtp_gadget

# Support Virtual Com
    chmod 0770 /system/bin/vcd

# Support AP/CP log dump
    chmod 0770 /system/bin/sced

# Permission for UART SWITCH
    chmod 0660 /sys/class/sec/switch/uart_sel
    chown system system /sys/class/sec/switch/uart_sel

    # DRK permission
    mkdir /efs/prov 0770 radio system
    mkdir /efs/prov_data 0770 radio system
    chown radio system /efs/prov_data/dev_root
    chmod 0770 /efs/prov_data/dev_root
    chown radio system /efs/prov_data/knox
    chmod 0770 /efs/prov_data/knox
    chown radio system /efs/prov_data/dev_root/dev_root.dat
    chmod 0640 /efs/prov_data/dev_root/dev_root.dat
    chown radio system /efs/prov/libdevkm.lock
    chmod 0660 /efs/prov/libdevkm.lock
    write /efs/prov/ffffffff00000000000000000000000c.tlbin 0
    chown radio system /efs/prov/ffffffff00000000000000000000000c.tlbin
    chmod 0660 /efs/prov/ffffffff00000000000000000000000c.tlbin

    # CS socket
    mkdir /dev/socket/cs_socket 0770 system system

# IPSec for VOLTE
    chown root system /dev/socket
    chmod 0775 /dev/socket

on fs
    #For cpefs partition
    mkdir /cpefs 0771 radio system
    wait /dev/block/platform/13540000.dwmmc0/by-name/CPEFS
    check_fs /dev/block/platform/13540000.dwmmc0/by-name/CPEFS ext4
    mount ext4 /dev/block/platform/13540000.dwmmc0/by-name/CPEFS /cpefs noatime nosuid nodev barrier=1
    chown radio system /cpefs
    chmod 0771 /cpefs

    mount_all /fstab.universal3475
    setprop ro.crypto.fuse_sdcard true
    chown radio system /efs

    chmod 0600 /dev/mobicore
    chmod 0666 /dev/mobicore-user
    chown system system /dev/mobicore
    chown radio system /dev/mobicore-user

# Permissions for ION
    chmod 0660 /sys/class/ion_cma/ion_video_ext/isolated
    chown system system /sys/class/ion_cma/ion_video_ext/isolated

# Permissions for backlight
    chown system system /sys/class/backlight/panel/brightness
    chown system system /sys/class/backlight/panel/auto_brightness

# Permissions for LCD
    chown system radio /sys/class/lcd/panel/manufacture_code
    chown system radio /sys/class/lcd/panel/lcd_type
    chown system system /sys/class/lcd/panel/siop_enable
    chown system system /sys/class/lcd/panel/temperature
    chown system radio /sys/class/lcd/panel/power_reduce
    chown system media_rw /sys/class/backlight/panel/weakness_hbm_comp

# Permissions for MDNIE
    chown system media_rw /sys/class/mdnie/mdnie/mode
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chown system system /sys/class/mdnie/mdnie/accessibility
    chown system system /sys/class/mdnie/mdnie/auto_brightness
    chown system system /sys/class/mdnie/mdnie/sensorRGB

# Permissions for Audience
    chown system audio /sys/class/earsmart/control/power_control_set
    chown system audio /sys/class/earsmart/control/route_value
    chown system audio /sys/class/earsmart/control/veq_control_set
    chown system audio /sys/class/earsmart/control/extra_volume
    chown system audio /sys/class/earsmart/control/always_stream_fs_on

# Permissions for Audio Codec Dump
    chmod 0444 /sys/kernel/debug/regmap/2-a004/registers

# Copy DRM Key
    copy /system/app/wv.keys /factory/wv.keys

# Permission for DRM Key
    chmod 0644 /factory/wv.keys

# Permissions for TouchScreen
    chown system radio /sys/class/sec/tsp/cmd
    chown system system /sys/class/sec/tsp/input/enabled

# Permissions for Touchkey
    chown system radio /sys/class/sec/sec_touchkey/brightness
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/touch_sensitivity
    chown system radio /sys/class/sec/sec_touchkey/glove_mode
    chown system radio /sys/class/sec/sec_touchkey/flip_mode
    chown system system /sys/class/sec/sec_touchkey/input/enabled

# Permissions for input_booster
    chown system radio /sys/class/input_booster/level
    chown system radio /sys/class/input_booster/head
    chown system radio /sys/class/input_booster/tail

# Permissions for gpio_keys
    chown radio system /sys/class/sec/sec_key/wakeup_keys
    write /sys/class/sec/sec_key/wakeup_keys 116,172


# Modem boot daemon
#    service cpboot-daemon /system/bin/cbd -d
#    class main
#    user root
#    group radio cache inet misc audio sdcard_rw log

# DM daemon
#    service DM-daemon /system/bin/dmd
#    class main
#    user root
#    group system

# VC daemon
#    service VC-daemon /system/bin/vcd
#    class main
#    user root
#    group system

# SCE daemon
#    service SCE-daemon /system/bin/sced
#    class main
#    user root
#    group system

# ARGOSD network_throughput
    chown system system /dev/network_throughput

# ARGOSD
service argos-daemon /system/bin/argosd
    class main
    user system
    group system radio

service prepare_param /system/bin/prepare_param.sh /dev/block/platform/13540000.dwmmc0/by-name/PARAM
    class core
    user root
    group root
    seclabel u:r:prepare_param:s0
    oneshot    

service cameraserver /system/bin/cameraserver
    class main
    user cameraserver
    group media_rw audio camera drmrpc inet shell sdcard_r system
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks

# IPSec for VOLTE
service ipsec-daemon /system/bin/IPSecService
    class main
    socket ipsec_socket stream 660 system system
    user system
    group system net_raw inet net_admin

# on userdebug and eng builds, enable kgdb on the serial console
on property:ro.debuggable=1
    write /sys/module/kgdboc/parameters/kgdboc ttyFIQ1
    write /sys/module/fiq_debugger/parameters/kgdb_enable 1
# GPS
service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system inet net_raw
    ioprio be 0
# LPM
on property:ro.bootmode=charger
   mount ext4 /dev/block/platform/13540000.dwmmc0/by-name/SYSTEM /system wait ro

on property:ro.bootmode=charger
    wait /dev/block/platform/13540000.dwmmc0/by-name/EFS
    check_fs /dev/block/platform/13540000.dwmmc0/by-name/EFS ext4
    mount ext4 /dev/block/platform/13540000.dwmmc0/by-name/EFS /efs nosuid nodev noatime noauto_da_alloc,discard,journal_async_commit

on property:ro.bootmode=charger
   class_start sec-charger

service battery_charger /sbin/healthd -c
    class charger
    critical
    seclabel u:r:healthd:s0

# DRK/CS service
service cs_service /system/bin/cs
    class main
    user system
    group system
    disabled

on property:sys.mobicoredaemon.enable=true
    start cs_service
    write /proc/iccc_ready 1

# Secure Storage startup
service secure_storage /system/bin/secure_storage_daemon
    class core
    user system
    group system
    disabled

on property:ro.securestorage.support=true
    mkdir /dev/.secure_storage
    chmod 0711 /dev/.secure_storage
    chown system system /dev/.secure_storage
    restorecon -R /dev/.secure_storage
    start secure_storage

# SSWAP
service swapon /sbin/sswap -s -f 1536
    class core
    user root
    group root
    seclabel u:r:sswap:s0
    oneshot
