/dev/mali0                0666   system     system
/dev/ion                  0666   system     system
/dev/ump                  0666   system     graphics
/dev/exynos-mem           0660   system     graphics

/dev/video6               0660   mediacodec      mediadrm
/dev/video7               0660   media      mediadrm
/dev/video8               0660   media      mediadrm
/dev/video9               0660   media      mediadrm

# mscalers
/dev/video50              0660   media      graphics
/dev/video51              0660   media      graphics
/dev/m2m1shot_scaler0     0660   cameraserver    m2mscaler
/dev/m2m1shot_scaler1     0660   cameraserver    m2mscaler

# camera
/dev/video100             0660   cameraserver    cameraserver
/dev/video101             0660   cameraserver    cameraserver
/dev/video102             0660   cameraserver    cameraserver
/dev/video109             0660   cameraserver    cameraserver
/dev/video110             0660   cameraserver    cameraserver
/dev/video111             0660   cameraserver    cameraserver
/dev/video112             0660   cameraserver    cameraserver
/dev/video120             0660   cameraserver    cameraserver
/dev/video121             0660   cameraserver    cameraserver
/dev/video122             0660   cameraserver    cameraserver
/dev/video130             0660   cameraserver    cameraserver
/dev/video131             0660   cameraserver    cameraserver
/dev/video132             0660   cameraserver    cameraserver
/dev/video140             0660   cameraserver    cameraserver
/dev/video141             0660   cameraserver    cameraserver
/dev/video142             0660   cameraserver    cameraserver
/dev/video150             0660   cameraserver    cameraserver
/dev/video151             0660   cameraserver    cameraserver
/dev/video152             0660   cameraserver    cameraserver
/dev/video160             0660   cameraserver    cameraserver
/dev/media2               0660   media      media

#JPEG
/dev/m2m1shot_jpeg        0660   media      media

/dev/video16              0660   system     system
/dev/video20              0660   system     system

/dev/video23              0660   media      graphics
/dev/video25              0660   media      graphics
/dev/video27              0660   media      graphics
/dev/video29              0660   media      graphics

/dev/video36              0660   media      media
/dev/video37              0660   media      media

#scaler
/dev/video50              0660   media      graphics
/dev/video51              0660   media      graphics
/dev/m2m1shot_scaler0     0660   cameraserver    m2mscaler
/dev/m2m1shot_scaler1     0660   cameraserver    m2mscaler

/dev/fimg2d               0666   system     graphics
/dev/i2c-2                0660   system     system
/dev/CEC                  0660   system     system
/dev/HPD                  0660   system     system

# ALP Audio
/dev/srp                  0660   system     audio

# Bluetooth
# /dev/ttySAC0              0600   bluetooth    bluetooth
/dev/unifiudi0            0666   wifi         wifi

# Mixer
/dev/video16              0660   system     audio
/dev/video17              0660   system     system
/dev/video18              0660   system     system
/dev/video19              0660   system     system

# Secure MEM driver
/dev/s5p-smem             0660   system     system

# sensor sysfs properties
/sys/devices/virtual/input/input*	poll_delay	0660	system	radio
/sys/devices/virtual/input/input*	enable		0660	system	radio

# Modem Interface
/dev/block/platform/13540000.dwmmc0/by-name/RADIO     0660   system     radio
/dev/umts*                0660   system     radio
/dev/umts_csd             0660   system     loop_radio

# Reactivation lock
/dev/block/platform/13540000.dwmmc0/by-name/STEADY    0660    system    system

# Google FRP solution
/dev/block/platform/13540000.dwmmc0/by-name/PERSISTENT    0660    system    system
